# Node
node_modules/
npm-debug.log
.env

# React build
frontend/build/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl

# Ansible
ansible/*.retry

# OS
.DS_Store
*.log
